In [2]:
import pandas as pd
df = pd.read_csv("pincode.csv")

/var/folders/9y/x0w5pnz52hjbwj1fvx8r34t80000gn/T/ipykernel_35655/251023700.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("pincode.csv")

In [17]:
df2 = df[["District", "Latitude", "Longitude"]].reset_index(drop=True)
df2.dropna(inplace=True)
df2.head(3)

    District   Latitude  Longitude
0  ANANTAPUR    14.5689   77.85624
1  ANANTAPUR    14.5281  77.857014
2  ANANTAPUR  14.561111   77.85715

In [18]:
def try_float_conversion(value):
    try:
        return float(value)
    except ValueError:
        return None
    
df2["Latitude"] = df2["Latitude"].astype(str)
df2["Latitude"] = df2["Latitude"].apply(try_float_conversion)

df2["Longitude"] = df2["Longitude"].astype(str)
df2["Longitude"] = df2["Longitude"].apply(try_float_conversion)

In [19]:
df3 = df2.groupby('District').agg({"Latitude" : 'median', "Longitude" : 'median'}).reset_index()

In [20]:
df3.loc[df3.District.str.upper().str.endswith('PUR'), "ends_with"] = "pur"
df3.loc[df3.District.str.upper().str.endswith('PURAM'), "ends_with"] = "puram"

In [22]:
df3.dropna().ends_with.value_counts()

ends_with
nan      662
pur       60
puram      5
Name: count, dtype: int64

In [27]:
df3.iloc[0]["ends_with"]=='nan'

True